{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
{% endblock %}

{% block body %}

<div class="button-group">
    <button class="icon-btn" id="theme-toggle-btn">
        <i class="fa-solid fa-moon"></i>
    </button>
    <!-- Additional buttons can go here -->
    <button class="icon-btn">
        <i class="fa-solid fa-gear"></i>
    </button>
    <button class="icon-btn">
        <i class="fa-solid fa-house"></i>
    </button>
</div>

<div class="content-container" id="content-container">
    {{ text | safe }}
</div>

<script src="{{ url_for('static', filename='js/info.js') }}"></script>
{% endblock %}